<h1><%= @jobPage.name + @jobPage.id.to_s %></h1>
<%= p request.referrer %>
<ul>
<% @jobTitleList.each do |jt| %>
  <li><%= jt.job_title %>  <%= link_to "Delete this job title", jt, method: :delete, data: {confirm: 'Are you sure you want to delete this job title?'} %></li>
<% end %>

 <%= form_for JobSearch.new do |f| %>
   <% pageID = @jobPage.id %>   
   <%= hidden_field_tag 'jpi', pageID %>
 
   <%= f.label 'Job Title' %>
   <%= f.text_field :job_title %>
 
   <%= f.submit "Add Job Title" %>
 <% end %>




<p> just testing with one job_title for now, will look at multiples afterwards</p>





