<h1><%= @jobSearch.job_page.name %></h1>
<ul>
<% @kwList.each do |kw| %>
  <li><%= kw.keyword %>  <%= link_to "Delete this job title", kw, method: :delete, data: {confirm: 'Are you sure you want to delete this job title?'} %></li>
<% end %>

 <%= form_for JobSearch.new do |f| %>
   <% pageID = @jobSearch.job_page.id %>   
   <%= hidden_field_tag 'jpi', pageID %>
 
   <%= f.label 'Job Title' %>
   <%= f.text_field :keyword %>
 
   <%= f.submit "Add Job Title" %>
 <% end %>




<p> just testing with one keyword for now, will look at multiples afterwards</p>





